* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

main{
    width: 100%;
    background-color: #000;
    height: calc(100vh - 100px);
}


/* container img and scroll */

.flex{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    
}
.flex > .speaker,
.flex > .maximize{
    background-color: #494948;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

/* main section members rules  */

/* all container img description */
.user{
    min-width: calc(100% / 7 - 20px);
    height:150px;
    position: relative;
    /* debug */
    background-color: blue;
}

.user  img{
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/* add members propriety flex */

 .members-flex {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
    


.name *{
    color: lightgray;
}
.name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(34, 34, 34, .7);
    padding: 5px 5px;
}



